.nosotros-container{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.nosotros-container{
    background-image: url("C:\Users\Usuario\Desktop\CURSO PROGRAMADOR WEB\FRONTEND\trabajo-final\moreni-hnos\public\img\nosotros.jpg");
    height: 100vh;
    max-width: 100vw;
    position:relative;
    z-index:1;
    
}

.nosotros-container::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(21, 14, 60, 0.446);
    z-index:-1;
    }



.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 60%;
    padding: 25px;
    background:#0a1d3075;
    transition: transform 1s;
    color:white;
    font-size:x-large;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-bottom: 0;
}

.intro h2 {
    color: orangered;
    margin-bottom: 20px;
    font-weight:bold;
}

.vermas{
    
    width: 200px;
    height: 80px;
    background-color: orangered;
    color: white;
    
    
}

.intro:hover{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
   

}

